$color-light-blue: #6A98F0;
$color-heavy-blue: rgb(109, 131, 242);
$color-dark: #303030;
$color-heavy-dark: #111;
$color-light: rgb(248, 248, 248);;
$color-white: #F8F8F8;
$color-light-yellow: #feeebf;
$color-heavy-yellow: #ffab19;
$color-light-green: #D8E9C2;
$color-heavy-green: #1aac18;
$color-light-pink: #f2d4d1;
$color-heavy-pink: #dd7564;
$color-light-gray: #c5d0dd;
$color-heavy-gray: #383838;