@include breakpoint-down(1024px) {

  /* TODO HERO-RIGHT 1024px */

  .hero-right__list-color {
    bottom: -25px;
    right: calc(50% - 120px);
  }

  /* TODO FAVOURITE 1024px*/

  .favourite__title, .about__title, .skills__title, .projects__title  {
    font-size: 40px;
  }

  .favourite__item:hover {
    transform: scale(1.012);
  }

  .favourite-img-top {
    margin-top: 10px;
    width: 115px;
    height: 115px;
  }

  .favourite__text-name {
    font-size: 25px;
  }

  .favourite__text-about {
    font-size: 17px;
    padding-bottom: 30px;
  }

    /* TODO ABOUT 1024px*/

  .about-bottom__item {
    height: 145px;
  }
}

@include breakpoint-down(900px) {

  .favourite__list {
    flex-wrap: wrap;
  }

  .favourite__item:last-child {
    margin-top: 30px;
    flex-grow: 0;
    flex-basis: auto;
    width: 60%;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .favourite-img-top {
    margin-top: 30px;
    width: 125px;
    height: 125px;

    svg {
      width: 64px;
      height: 64px;
    }
  }

  .favourite__text-name {
    font-size: 28px;
  }

  .favourite__text-about {
    font-size: 20px;
  }

  .about-bottom__item {
    height: 165px;
  }

  .projects__item img {
    width: 220px;
    height: 220px;
  }
}

@include breakpoint-down(800px) {

  .about-bottom__list {
    flex-wrap: wrap;
  }

  .about-bottom__item:last-child {
    height: 110px;
    width: 100% !important;
    flex-grow: 0;
    flex-basis: auto;
  }

  .projects__item img {
    width: 200px;
    height: 200px;
  }
}

@include breakpoint-down(768px) {

  .hero__box {
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
  }

  .hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    text-align: center;
  }

  .hero-left__greeting {
    font-size: 26px;
  }

  .hero-left__name {
    font-size: 64px;
  }

  .hero-left__about {
    font-size: 24px;
  }

  .hero-left__resume-box {
    width: 50%;
  }

  .hero-left__resume {
    padding: 10px 30px;
    width: 100%;
    font-size: 20px;
  }

  .hero-left__link svg{
    width: 32px;
    height: 30px;
  }

  .telegram-1 {
    transform: scale(1.3);
  }

  .hero-right__code {
    width: 500px;
    pre {
      font-size: 14.5px;

      b {
        font-size: 15.5px;
      }
    }
  }

  .hero-right__list-color {
    bottom: -25px;
    right: calc(50% - 145px);
  }

  .hero-right__item-color{
    width: 56px;
    height: 56px;
  }

  .hero-right__btn-color {
    width: 50px;
    height: 50px;
  }

  .favourite__title, .about__title, .skills__title, .projects__title {
    font-size: 46px;
  }

  .favourite__text-about {
    font-size: 19px;
    padding-bottom: 30px;
  }
}

@include breakpoint-down(700px) {

  .header {
    position: absolute;
  }

  .nav {
    position: static;
    background-color: transparent;
    height: auto;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  .nav__logo, .toggler{
    display: none;
  }

  .nav__box {
    position: fixed;
    right: 25px;
    top: auto;
    left: auto;
    bottom: 115px;
    width: 90px !important;
    padding-left: 0;
    padding-right: 0;
    // display: none !important;
    transform: translateY(500px);
    z-index: -5;
    opacity: 0;
  }

  .nav__box, .nav__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav__item {
    width: 90px;
  }

  .nav__link {
    color: #fff !important;
    margin-bottom: 20px;
    margin-left: 0;
    display: block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    background-image: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
    font-weight: 300;
  }

  .nav__btn--mode, .nav__btn--burger {
    display: block;
    width: 65px;
    border-radius: 50%;
    height: 65px;
    border: none;
    background-image: linear-gradient(134deg, rgb(106, 152, 240) 0%, rgb(73, 97, 220) 99%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .nav__btn--mode svg{
    width: 38px;
    height: 38px;
    color: #fff;
  }

  .nav__btn--burger {
    position: fixed;
    right: 35px;
    top: auto;
    left: auto;
    bottom: 30px;
    margin-top: 20px;
    z-index: 111;
  }


  .nav__icon{
    width: 38px;
    height: 38px;
    position: relative;
    margin: 50px auto;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }

    span:nth-child(1) {
      top: 4px;
    }

    span:nth-child(2), span:nth-child(3) {
      top: 17px;
    }

    span:nth-child(4) {
      top: 30px;
    }
  }

  .nav__icon.open__icon {

    span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }

    span:nth-child(2) {
      transform: rotate(45deg);
    }

    span:nth-child(3) {
      transform: rotate(-45deg);
    }

    span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
  }

  .nav__sun {
    display: none;
  }

  .nav__menu .nav__box {
    // display: block !important;
    transition: all ease 1.5s;
    transform: translateY(0);
    z-index: 99;
    opacity: 1;
  }

  .main {
    top: 0;
  }

  .about-top {
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;
  }

  .about__bg {
    min-height: 810px;
  }

  .about-top__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .about-top__text {
    text-align: center;
  }

  .about-bottom {
    margin-top: 40px;
  }

  .projects__list {
    flex-wrap: wrap;

    li:last-child {
      margin-top: 10px;
    }
  }

  .projects__item img {
    width: 270px;
    height: 270px;
  }
}

@include breakpoint-down(600px) {

  .hero-left__greeting {
    font-size: 22px;
  }

  .hero-left__name {
    font-size: 46px;
  }

  .hero-left__about {
    font-size: 19px;
  }

  .hero-left__resume-box {
    width: 60%;
  }

  .hero-left__resume {
    padding: 10px 20px;
    width: 100%;
    font-size: 18px;
  }

  .hero-right__code {
    width: 400px;
    pre {
      font-size: 11px;

      b {
        font-size: 13px;
      }
    }
  }

  .hero-right__list-color {
    bottom: -25px;
    right: calc(50% - 115px);
  }

  .hero-right__item-color{
    width: 46px;
    height: 46px;
  }

  .hero-right__btn-color {
    width: 40px;
    height: 40px;
  }

  .favourite__title, .about__title, .skills__title, .projects__title {
    font-size: 40px;
  }

  .favourite__item:first-child {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .favourite__item {
    margin-top: 30px;
    flex-grow: 0;
    flex-basis: auto;
    width: 80% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .favourite__context-box {
    padding-left: 10px;
    padding-right: 10px;
  }

  .about-bottom__item {
    height: 115px;
    width: 100% !important;
    flex-grow: 0;
    flex-basis: auto;
  }

  .skills__icons svg{
    width: 66px;
    height: 66px;
  }

  .projects__item img {
    width: 210px;
    height: 210px;
  }
}

@include breakpoint-down(480px) {

  .hero-right__code {
    width: 342px;
    padding: 20px;
    pre {
      font-size: 10px;

      b {
        font-size: 11.5px;
      }
    }
  }

  .hero-right__list-color {
    bottom: -25px;
    right: calc(50% - 100px);
    padding: 3px !important;
  }

  .hero-right__item-color{
    width: 40px;
    height: 40px;
    padding: 2px;
  }

  .hero-right__btn-color {
    width: 36px;
    height: 36px;
  }

  .favourite__title, .about__title, .skills__title, .projects__title {
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 35px;
  }

  .favourite__item {
    width: 90% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .favourite-img-top {
    margin-top: 20px;
    width: 100px;
    height: 100px;

    svg {
      width: 55px;
      height: 55px;
    }
  }

  .favourite__text-name {
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .favourite__text-about {
    padding: 0 10px 20px 10px;
  }

  .favourite__context-box {
    padding-left: 6px;
    padding-right: 6px;
  }

  .about-bottom__item {
    padding: 15px;
    height: 80px !important;

    &:nth-child(2) {
      height: 90px !important;
    }
  }

  .about-bottom__text {
    font-size: 13px;
  }
  .about-bottom__name {
    font-size: 10px;
    bottom: 15px;
  }

  .skills__icons svg{
    width: 50px;
    height: 50px;
  }

  .nav__box {
    right: 25px;
    bottom: 92px;
    width: 70px !important;
  }

  .nav__item {
    width: 70px;
  }

  .nav__link {
    font-size: 12px;
    margin-bottom: 8px;
    padding: 7px;
  }

  .nav__btn--mode, .nav__btn--burger {
    width: 50px;
    height: 50px;
  }

  .nav__btn--mode svg{
    width: 34px;
    height: 34px;
  }

  .nav__icon{
    width: 26px;
    height: 26px;
    span {
      height: 2.5px;
    }

    span:nth-child(1) {
      top: 2px;
    }

    span:nth-child(2), span:nth-child(3) {
      top: 12px;
    }

    span:nth-child(4) {
      top: 22px;
    }
  }

  .language__text--sass {
    font-size: 25px;
    top: 0;
    left: 16px;
  }

  .language__text--figma {
    top: 30%;
    left: 35%;
    font-size: 14px;
  }

  .language__text--bem {
    top: 128px;
    left: 22%;
    font-size: 9px;
  }

  .language__text--html {
    top: -30px;
    left: auto;
    right: 30px;
    font-size: 18px;
  }

  .language__text--python {
    top: 490px;
    left: auto;
    right: 150px;
    font-size: 20px;
  }

  .language__text--css {
    top: 200px;
    left: -20px;
    font-size: 10px;
  }

  .language__text--cplus {
    top: 350px;
    left: 70%;
    font-size: 17px;
  }

  .language__text--es {
    top: 360px;
    left: 100px;
    font-size: 16px;
  }

  .language__text--sqlite {
    top: 180px;
    left: 200px;
    font-size: 11px;
  }

  .language__text--jquery {
    top: 80px;
    left: 75%;
    font-size: 14px;
  }

  .language__text--res {
    top: 470px;
    left: -10px;
    font-size: 9px;
  }

  .hero-left__link svg{
    width: 29px;
    height: 28px;
  }

  .telegram-1 {
    transform: scale(1.2);
  }

  .projects__list {
    flex-wrap: nowrap;
    flex-direction: column;

    li:not(:first-child) {
      margin-top: 10px;
    }
  }

  .projects__item img {
    width: 300px;
    height: 300px;
  }

}

@include breakpoint-down(400px) {

  .favourite__title, .about__title, .skills__title, .projects__title {
    margin-top: 60px;
    margin-bottom: 25px;
  }

  .hero-left__greeting {
    font-size: 18px;
  }

  .hero-left__name {
    font-size: 40px;
  }

  .hero-left__about {
    font-size: 15px;
  }

  .hero-left__resume {
    font-size: 15px;
  }

  .hero-right__list {
    margin-bottom: 0;
  }

  .hero-right__code {
    width: 300px;
    padding: 15px;
    pre {
      font-size: 9px;

      b {
        font-size: 10px;
      }
    }
  }

  .favourite__text-name {
    font-size: 24px;
  }

  .favourite__text-about {
    font-size: 15.5px;
  }

  .nav__btn--mode svg{
    width: 32px;
    height: 32px;
  }

  .nav__icon{
    width: 24px;
    height: 24px;
    span {
      height: 2.5px;
    }

    span:nth-child(1) {
      top: 2px;
    }

    span:nth-child(2), span:nth-child(3) {
      top: 10px;
    }

    span:nth-child(4) {
      top: 18px;
    }
  }

}