@include breakpoint-down(1024px) {

  /* TODO HERO-RIGHT TABLET */

  .hero-right__list-color {
    bottom: -25px;
    right: calc(50% - 120px);
  }

  /* TODO FAVOURITE TABLET*/

  

  .favourite__title {
    font-size: 40px;
  }

  .favourite__item:hover {
    transform: scale(1.012);
  }

  .favourite-img-top {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }

  .favourite__text-name {
    font-size: 25px;
  }

  .favourite__text-about {
    font-size: 17px;
  }

  }
